<form [formGroup]="deForm">
  <div class="form-group">
    <label for="username">Username</label>
    <input
      formControlName="username"
      id="username"
      type="text"
      class="form-control"
    />
    <section
      *ngIf="deForm.get('username').touched && deForm.get('username').invalid"
      class="alert alert-danger"
    >
      The username is invalid. Well now, this is a rather generic message.
      <div class="alert alert-warning">
        A bit verbose using *ngIf: <br />
        "deForm.get('username').touched && deForm.get('username').invalid"
      </div>
    </section>
    <section
      *ngIf="username.touched && username.invalid"
      class="alert alert-warning"
    >
      The username is invalid. Well now, this is a rather generic message.
      <div class="alert alert-success">
        Cleaned up using a property in the component & *ngIf:<br />
        username.touched && username.invalid"
      </div>
    </section>

    <ul *ngIf="username.touched && username.invalid" class="alert alert-dark">
      <li *ngIf="username.errors.required">
        Username field is required, but it is not populated.
      </li>
      <li *ngIf="username.errors.minlength">
        Username minimum length of
        {{ username.errors.minlength.requiredLength }} characters has not been
        met.
      </li>
      Hurray for specificity. We are cooking with gas now!
    </ul>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      formControlName="password"
      id="password"
      type="text"
      class="form-control"
    />
    <section
      *ngIf="username.valid && password.invalid"
      class="alert alert-danger"
    >
      The password is required.

      <div class="alert alert-success">
        This message demonstrates the use of cleaner code utilizing properties
        in the component & *ngIf:<br />
        username.valid && password.invalid"
      </div>
    </section>
  </div>
  <button class="btn btn-primary" type="submit">Sign Up</button>
</form>
