/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

// waiting or loading images
.loading {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
